.container-fluid {
  margin: 1em;
}

.view-panel {
    position: fixed;
    top: 60px;
    left: 20px;
    height: auto;
    max-height: 138px;
    width: calc(68%);
    white-space: nowrap;
    z-index: 600;
}
