.container-fluid {
  margin: 1em;
}

.view-panel {
    position: fixed;
    top: 52px;
    left: 0px;
    font-size: 1.5em;
    padding-left: 20px;
    background-color: #ddd;
    height: auto;
    max-height: 125px;
    width: calc(100%);
    white-space: nowrap;
    z-index: 600;
    overflow: hidden;
}
